!!! XML UTF-8
!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", :version => "-//W3C//DTD XHTML 1.1//EN", "xml:lang" => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= "##{locals[:hashtag]} - #HashFresh"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/page.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "http://timeago.yarp.com/jquery.timeago.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16108207-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      $(document).ready(function() {
        init();
        load(0);
      });

      function load(maxId) {
        $.getJSON('http://search.twitter.com/search.json?rpp=#{locals[:amount]}&since_id=' + maxId + 
        '&locale=en&callback=?&q=%23#{locals[:hashtag]}', function(json) {
          $.each(json.results.reverse(), function(index, element) {
            if ($('#list').children().length == #{locals[:amount]}) {
              $('#list > li:last-child').remove();
            }
            var msg = $('li#messagePrototype').clone(true).removeClass('prototype').attr('id', element.id);
            msg.find('a.author').attr('href', 'http://twitter.com/' + element.from_user);
            msg.find('img.thumbnail').attr('src', element.profile_image_url).attr('alt', element.from_user);
            msg.find('a.username').text(element.from_user);
            msg.find('p.status').html(parseUsers(parseHashtags(parseLinks(element.text))));
            msg.find('abbr.timeago').text($.timeago(new Date(Date.parse(element.created_at))));
            msg.prependTo('#list');
          });
          setTimeout('load(' + json.max_id + ')', 10000);
        });
      }

      function init() {
        $('#warning').hide();
      }

      function parseUsers(text) {
        return text.replace(/(^|\s)@(\w+)/g, '$1@<a class="user" href="http://twitter.com/$2">$2</a>');
      }

      function parseHashtags(text) {
        return text.replace(/(^|\s)#(\w+)/g, '$1#<a class="hashtag" href="/twitter/$2">$2</a>');
      }

      function parseLinks(text) {
        return text.replace(/(.|^|\s)((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?)/g, '$1<a class="link" href="$2">$2</a>');
      }
  %body
    %h1
      %a#logo{:href => "/"} #HashFresh
    %div#messages
      %p#warning JavaScript has to be enabled.
      %ol#list
        %li#messagePrototype.prototype
          %a.author{:href => "#"}
            %img.thumbnail{:src => "", :alt => ""}
          %div.message
            %a.author.username{:href => "#"}
            %p.status
            %abbr.timeago{:title => ""}
    %div#footer
      :markdown
        © 2010 [Javanto](http://javanto.com).

